[BASIC]

# Naming style matching correct constant names.
const-naming-style=UPPER_CASE

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           package_name 

[MESSAGES CONTROL]
disable=missing-docstring,assigning-non-slot,unspecified-encoding,no-name-in-module
