[TYPECHECK]

ignored-modules = cv2


[BASIC]

max-locals=20

extension-pkg-whitelist=cv2

# Naming style matching correct constant names.
const-naming-style=UPPER_CASE

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           package_name ,
           x,
           y,
           X,
           Y,
           z,
           Z,
           dt, 
           q,
           r,
           P,
           u,
           K,
           S,
           zs,
           w,
           h,
           R,
           P_prior,
           n,
           Q,
           B,
           F,
           P_prev,
           N,
           J

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes



[MESSAGES CONTROL]
disable=missing-docstring,assigning-non-slot,unspecified-encoding,no-name-in-module

